<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="./Pages/dist/bootstrap.min.css">
    <link rel="stylesheet" href="./Pages/dist/styles-dist.css">
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <style>
        button {
            position: absolute;
        }
    </style>
    <title>Project 9: Populate and filter menu with AngularJS</title>
</head>

<body>
    <!-- Header -->
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
                <div class="btn-group" role="group" id="btn-group-header" ng-app="myApp" ng-controller="myController">
                    <button type="button" ng-repeat="button in buttons" ng-click="buttonClicked(button)"
                        class="btn btn-primary">
                        <!-- Expression with button name and date -->
                        {{button.label+": "+button.date}}
                    </button>
                </div>
            </div>
        </div>
    </header>

    <!-- Main container -->
    <main>
        <div class="container my-main">
            <div id="content">
                <br><br>
                <h2>Please choose a project in the header to view.</h2>
                <p> Version: Project 9<br> This project's ait is to use AngularJS to populate the header with buttons
                    from a pre-defined .json file.</p>
                <br><br>
            </div>
        </div>
    </main>

    <!-- Load required scripts -->
    <script src="./Pages/dist/bootstrap.bundle.min.js"> </script>
    <script src="./scripts.js"> </script>
    <script src="./Pages/dist/scripts-dist.js"></script>
    <script src="jquery-1.12.2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        // my application to populate buttons
        var app = angular.module('myApp', []);
        app.controller('myController', function ($scope, $http) {
            // fetch .json from directory
            $http.get('./projects.json').then(function (response) {
                $scope.buttons = response.data;
            });
            $scope.buttonClicked = function (button) {
                // Handle button click event
                loadDoc(button.id);
            };
        });
    </script>
</body>

</html>